@font-face {
  font-family: atkinson;
  src: url('{{ .Site.BaseURL | default "/" }}/font/AtkinsonHyperlegible-Regular.woff2');
  font-display: block;
}

@font-face {
  font-family: atkinson;
  src: url('{{ .Site.BaseURL | default "/" }}/font/AtkinsonHyperlegible-Bold.woff2');
  font-weight: bold;
  font-display: block;
}

div.goat {
  font-size: 14px;
  font-family: monospace;
  letter-spacing:5px;
}

h1,h2,h3,h4,h5,h6 {
  margin: .5em 0 .2em
}

main h1 {
  font-weight: bold;
  border-bottom: 1px solid black;
}

html {
  max-width: 70ch;
  margin: auto;
  line-height: 1.5;
  font-size: 1.25em;
  color: #1d1d1d;
  font-family: atkinson, "Open Sans", sans-serif;
  background: #f5f5f0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
}

@media only screen and (width <= 800px) {
  html {
    padding: 0;
    margin: 0;
  }
}

a {
  color: #3273dc;
}

p {
  text-align: justify;
}

img {
  width: 100%;
}

section#list ul {
  list-style: none;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* header */

header {
  font-weight: bold;
  text-transform: uppercase;
  padding: .5em 0;
  display: flex;
}

footer {
  color: gray;
}

header a {
  text-decoration: none;
  font-size: 1.2em;
}

header section#title {
  width: 50%;
  margin: 0;
  padding: 0;
}

header section#title-links {
  width: 50%;
  text-align: right;
}

header section#title-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

header section#title-links ul > li {
  margin: 0;
  display: inline-block;
}

header section#title-links ul > li:not(:last-child) {
  margin-right: .5ch;
}

header section#title-links ul > li:not(:first-child)::before {
  font-size: 1.2em;
  content: '•';
  margin-right: .5ch;
}

@media only screen and (width <= 800px) {
  section#title {
    font-size: 1.4em;
  }

  header {
    flex-direction: column;
    background-color: #F0F0F4;
    border-bottom: .1px solid black;
  }

  header a {
    font-size: 1.2em;
  }

  header section#title {
    text-align: center;
    width: 100%;
  }

  header section#title-links {
    text-align: center;
    width: 100%;
  }
}


/* articles */

main {
  margin: 0;
}

main article aside {
  display: flex;
  margin: 0;
  color: gray;
  font-size: .9em;
  justify-content: space-between;
}


main article aside section#time {
  width: 50%;
  text-align: left;
}

main article aside section#tags {
  width: 50%;
  text-align: right;
}

main article aside section#tags ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main article aside section#tags a {
  color: gray;
  text-decoration: none;
}


main article > pre {
  background-color: white;
  overflow-x: auto;
  padding: .8em;
  font-size: .9em;
}

@media only screen and (width <= 800px) {
  main {
    margin: 0 .5em;
  }

  main article aside {
    display: block;
  }

  main article aside section#time {
    text-align: left;
  }

  main article aside section#tags {
    width: 100%;
    text-align: left;
  }
}

/* code hilights */

div.highlight pre {
  white-space: pre-wrap;
  overflow-x: auto;
  font-size: .8em;
  padding: .8em;
}

/* inline code pre-formatted text */
p > code {
  padding: .2ch;
  background-color: white;
}

/* blockquote */

blockquote {
  font-style:italic;
  color: #555;
  padding:1.2em 30px 1.2em 3em;
  border-left:8px solid #696969;
  position: relative;
  background: #EDEDED;
  line-height: 1.6;
}

blockquote p {
  text-align: left;
}

blockquote::before {
  content: "\201C";
  color: #696969;
  font-size:4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

@media only screen and (width <= 800px) {
  blockquote {
    margin: 1em 0;
    padding:1.2em 5px 5px 3em;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #333;
    color: #ddd;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #eee;
  }

  a {
    color: #8cc2dd;
  }

  main article > pre {
    background-color: #002b36;
  }

  /* inline code pre-formatted text */
  p > code {
    background-color: #002b36;
  }

  /* header */

  header {
    color: #93a1a1;
  }

  @media only screen and (width <= 800px) {
    header {
      background-color: black;
    }
  }

  /* code highlights */

  blockquote {
    background-color: #002b36;
    color: #ddd;
  }
}
